HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Springboot ###
!**/src/main/resources/application.properties

#tests
./bin/main/dataset.sql
./src/main/resources/dataset.sql
./bin/test/com/uniquindio/software/clinica/test/ListarPacientesTest.class
./src/test/java/com/uniquindio/software/clinica/test/ListarPacientesTest.java
./bin/test/com/uniquindio/software/clinica/test/EnvioDeCorreoTest.class
./src/test/java/com/uniquindio/software/clinica/test/EnvioDeCorreoTest.java

